
<!DOCTYPE html>
<html>
  <head>
    <style>
      .box{
         max-width: 300px;
         max-height: 500px;
         background: #fff;
         padding: 30px;
         border-radius: 5px;
         box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
       }
       .text{
         text-align: center;
         text-shadow: black;
       }
       .box .error{
         color: red;
       }
      input[type=text] {
    width: 250px;
    padding: 9px 18px;
    margin: 5px 0;
    box-sizing: border-box;
  
  }
  input[type=password] {
    width: 250px;
    padding: 9px 18px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 250px;
    padding: 9px 18px;
    margin: 5px 0;
    box-sizing: border-box;

  }
 
  
  input[type=submit] {
    width: 250px;
    padding: 9px 18px;
    margin: 5px 0;
    box-sizing: border-box;
  
  }
  
  </style>
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
  </head>
  <body>
    <%- include('./partials/header.ejs') -%>  
<center>
  <div class="box">
    <h3 class="text"> SignUp</h3>
 <div class="error"> <% if(messages.error) { %>
    <%= messages.error %>
    <% } %>
  </div>
  
  <form action ="/registration" method="POST">
  <input type="text"  name="name" placeholder="please enter name"><br>
  <input type="email"  name="email" placeholder="please enter emailid"><br>
  <input type="password"  name="password" placeholder="please enter password"><br>
  <input type="submit"  value="submit"><br>
</form>
</div>
</center>
</body>
</html> 