<section>
<table border="0"width="100%" bgcolor="black" height="60px" >
  
    <tr>
    <th width="50%"><font color="white" size="4"> E-commerce</font></th>
    <th width="10%"><i class="fa fa-shopping-cart" style="font-size:23px;color:white;background-color:green"><span id ="counter"><%= session.cart ? session.cart.totalQty : '' %></span></i></th>
    <th width="10%"><a href="login" target="_blank"> <font color="white" size="4"> login </font></th>
    <th width="10%"><a href="registration"target="_blank" > <font color="white" size="4"> register</font></th>
    <th width="10%"><a href="logout"target="_blank" > <font color="white" size="4">Logout </font></th>
    </tr>

    </table><br><br><br>

</section>