<style>
  a{
    text-decoration: none;
  }
</style>


<section>
<table border="0"width="100%" bgcolor="black" height="60px" >
  
    <tr>
    <th width="50%"><font color="white" size="4"> E-commerce</font></th>
    <th width="10%"><a href="home" target="_self"> <font color="white" size="4"> Home </font></th>
    <th width="10%"><a href="cart"><i class="fa fa-shopping-cart" style="font-size:23px;color:white;"><span id ="counter"><%= session.cart ? session.cart.totalQty : '' %></a></span></i></th>
    
    <% if(user) { %>
        <th width="10%"><form id="logout" action="/logout" method="POST">
            <a onclick="document.getElementById('logout').submit()" href="#"target="_self"> <font color="white" size="4">Logout 
         </form>
            </font></th>
        
          <% } else { %>
            <th width="10%"><a href="registration"target="_self" > <font color="white" size="4"> Register</font></th>
            <th width="10%"><a href="login" target="_self"> <font color="white" size="4"> Login </font></th>
          <% } %>
          
</tr>

    </table><br><br><br>

</section>